<ion-header>
  <ion-toolbar>
    <ion-title>finalisation</ion-title>
  </ion-toolbar>

  <div class="searchBar">
    <ion-searchbar placeholder="Recherche" animated showCancelButton debounce="0"
      (ionChange)="getItems($event)">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content padding>
  <div class="centeredTitle">Composer mon parcours médical</div>
  
  <div class="label">
      <a href="/praticien">Sélectionnez un praticien</a>
      /
      <a href="/deplacement">Moyen de déplacement</a>
      /
      <a href="/ordonnance">Ordonnance</a>
      /
      <a href="/horaires">Horaires</a>
      /
      Finalisation
    </div>

  <div style="width: 400px; margin: auto; border: 1px solid lightgrey; border-radius: 10px; padding: 0 10px 10px 10px;">
    <ion-item>
      <ion-label position="floating">Votre nom et prénom</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Votre numéro de téléphone</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button class="auto-select-button" expand="block">Valider</ion-button>
  </div>
</ion-content>