<ion-header>
  <ion-toolbar>
    <ion-title>Téléphone du patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="width: 400px; margin: auto; border: 1px solid lightgrey; border-radius: 10px; padding: 0 10px 10px 10px;">
    <ion-item>
      <ion-label position="floating">Entrez le numéro de téléphone du patient</ion-label>
      <ion-input type="text" [(ngModel)]="phone" id="phone"></ion-input>
    </ion-item>
    <ion-button class="auto-select-button" expand="block" (click)="validate()">Valider</ion-button>
  </div>
</ion-content>